---
layout: default
---
<div id="main" role="main">
  {% include people.html %}

  <div class="archive">
    <h3 class="author__name">{{ page.name }}</h3>
    {% if page.twitter %}
      <p>
        <a href="https://twitter.com/{{ page.twitter }}" itemprop="sameAs">
          <i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
        </a>
      </p>
    {% endif %}
    {% if page.linkedin %}
      <p>
        <a href="https://www.linkedin.com/in/{{ page.linkedin }}" itemprop="sameAs">
          <i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> LinkedIn
        </a>
      </p>
    {% endif %}
{{ content }}
  </div>
</div>
